@using Common.Constants
@using Common.Extensions
<script id="tmplMarkerContent" type="text/x-jquery-tmpl">
    <div class="t-marker-container col-sm-12">
        <h4 class="t-marker-title">
            ${Name}
            @*{{if OTId == 1}}
            {{if Detail.Props != null}}
            {{if Detail.Props[0] != null}}
            <span>
                (${Detail.Props[0].Rating})
            </span>
            {{/if}}
            {{/if}}
            {{/if}}*@
            @*<span class="t-marker-result-distance">${distance} m</span>*@
        </h4>
        <div class="t-marker-content col-sm-12 t-padding-left-0">
            <div class="t-marker-content-row">
                <i class="fa fa-map-marker fa-lg"></i> ${Addr}
            </div>
            <div class="t-marker-content-row">
                <i class="fa fa-phone fa-lg"></i> ${ObjectDetail.Phone}
            </div>
            <div class="t-marker-content-row">
                <i class="fa fa-internet-explorer fa-lg"></i>
                <a href="${ObjectDetail.Link}" target="_blank">${ObjectDetail.Link}</a>
            </div>
           
            <div class="t-marker-content-row">
                <i class="fa fa-address-card fa-lg"></i> ${ObjectDetail.Mail}
            </div>

            @*<div class="t-marker-content-row">
                <i class="fa fa-medium fa-lg"></i>
                {{if MultiMedia.Video == true}} <a style="margin-left: 8px;" title="View Video" href="javascript:void(0);" onclick=" MapMultiMedia(${OTId},${OId},false, '@SelectTypeEnum.Mapped.ToDescription()', @((int) MediaTypeEnum.Video)) ">Video</a> {{/if}}
                {{if MultiMedia.Image == true}} <a title="View Image" href="javascript:void(0);" onclick=" MapMultiMedia(${OTId},${OId},false, '@SelectTypeEnum.Mapped.ToDescription()', @((int) MediaTypeEnum.Image)) ">Image</a> {{/if}}
                {{if MultiMedia.Audio == true}} <a title="View Audio" href="javascript:void(0);" onclick=" MapMultiMedia(${OTId},${OId},false, '@SelectTypeEnum.Mapped.ToDescription()', @((int) MediaTypeEnum.Audio)) ">Audio</a> {{/if}}
                {{if MultiMedia.Other == true}} <a title="View Other Media" href="javascript:void(0);" onclick=" MapMultiMedia(${OTId},${OId},false, '@SelectTypeEnum.Mapped.ToDescription()', @((int) MediaTypeEnum.Other)) ">Other</a> {{/if}}
            </div>*@
        <div class="t-marker-content-row">
            <i class="fa fa-map-marker fa-lg"></i> ${Lat} - ${Lng}
        </div>
            <div class="t-marker-content-row">
                <i class="fa fa-gear fa-lg"></i> ${ObjectDetail.Infor}
            </div>
        </div>
        @*<div class="col-sm-3 t-marker-image-container t-padding-left-0 t-padding-right-0">
            <img src="${ImgUrl}" title="${title}" alt="${title}" />
        </div>
        {{if SLat > 0 & SLng > 0}}
        <div class="t-marker-direction">
            <a href="javascript:void(0);" onclick=" GetMapDirection(${SLat},${SLng},${Lat},${Lng}); " title="Dẫn đường từ vị trí tìm kiếm tới đây">
            </a>
            <span>Dẫn đường</span>
        </div>
        {{/if}}*@
    </div>
</script>
